@model IEnumerable<KJMT20250324S14.AppWebMVC.Models.Cliente>

@{
    ViewData["Title"] = "Index";
    var @modelBuscar = new Cliente();
}

<h1>Index</h1>
<form asp-action="Index">
    <div class="row">
        <div class="form-group col-4">
            <label asp-for="@modelBuscar.Nombre" class="control-label"></label>
            <input name="Nombre" class="form-control" />
        </div>
        <div class="form-group col-4">
            <label asp-for="@modelBuscar.Telefono" class="control-label"></label>
            <input name="Telefono" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-9">
            <label asp-for="@modelBuscar.Direccion" class="control-label"></label>
            <input name="Direccion" class="form-control" />

        </div>
    </div>
    <div class="row">
        <div class="form-group col-9">
            <label asp-for="@modelBuscar.Email" class="control-label"></label>
            <textarea name="Email" class="form-control"></textarea>

        </div>
    </div>
    <div class="row">
        <div class="form-group col-3">
            <label>Cant. Reg</label>
            <select name="topReistros" class="form-control">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="500">500</option>
                <option value="0">Todos</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group mt-3">
            <a asp-action="Create" class="btn btn-dark">Crear cliente <i class="bi bi-clipboard"></i></a>
            <input type="submit" value="Buscar" class="btn btn-primary" />
        </div>
    </div>
</form>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                <td>
                    <table>
                        <tr>
                            <tb>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success" title="Editar">Editar<i class="bi bi-pencil"></i></a>
                            </tb>
                            <tb>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info" title="detalle"> Detalle<i class="bi bi-eye"></i></a>
                            </tb>
                            <tb>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" title="borrar">Borrar<i class="bi bi-trash"></i></a>
                            </tb>
                        </tr>
                    </table>
                </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                 "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                }
            });
        });
    </script>
}